div(ng-controller='mainController')
	button(ng-click='reset()') Reset
	fieldset
		legend Account settings
		ul
			li(ng-hide='isRegistered()')
				label
					| E-Mail:
					input(type='text', ng-model='$storage.email')
				button(ng-click='createUser()') Create
			li(ng-show='isRegistered()') E-Mail: {{ $storage.email }}
			li(ng-show='isRegistered()') Gracenote User ID: {{ $storage.gracenoteUserId }}
	fieldset(ng-show='isRegistered()')
		legend Artist
		ul
			li(ng-hide='isArtistSelected()')
				label
					| Artist:
					input(type='text', ng-model='artistQuery')
				button(ng-click='searchArtist()') Search
				ul
					li(ng-repeat='artist in artists')
						a(href='#', ng-click='selectArtist(artist)') {{ artist.name }}
			li(ng-show='isArtistSelected()') Artist: {{ artist.name }}
	fieldset(ng-show='isArtistSelected()')
		legend Similar Artists
		ul
			li(ng-repeat='similarArtist in similarArtists')
				a(href='#', ng-click='selectArtist(similarArtist)') {{ similarArtist.name }}
	fieldset(ng-show='isRegistered()')
		legend Top Artists
		ul
			li(ng-repeat='topArtist in topArtists')
				a(href='#', ng-click='selectArtist(topArtist)') {{ topArtist.name }}
	fieldset(ng-show='isRegistered()')
		legend Options
		ul
			li
				label Mood:
					select
						option(selected)
						option(ng-repeat='mood in moods') {{ mood.value }}
				label Era:
					select
						option(selected)
						option(ng-repeat='era in eras') {{ era.value }}
				label Genre:
					select
						option(selected)
						option(ng-repeat='genre in genres') {{ genre.value }}

	//fieldset(ng-show='isArtistSelected()')
	//	legend Artist Tracks (optional)
	//	ul
	//		li(ng-repeat='track in topTracks')
	//			ul
	//				li {{ track.artist }} - {{ track.title }}
	//				li {{ track.year }} - {{ track.album }}
