fieldset#settings(ng-controller='mainController')
	legend Settings
	ul
		li
			label
				| Gracenote ClientId
				input(type='text', ng-model='$storage.gracenoteClientId')
		li
			label
				| 7digital Consumer Key
				input(type='text', ng-model='$storage.sdConsumerKey')
		li
			label
				| 7digital Consumer Secret
				input(type='text', ng-model='$storage.sdConsumerSecret')
	button(ng-click='reset()') Reset
	button(ng-click='test()') Test
