fieldset#settings(ng-controller='mainController')
	legend Account settings
	ul
		li(ng-hide='isRegistered()')
			label
				| E-Mail:
				input(type='text', ng-model='$storage.email')
				button(ng-click='createUser()') Create
		li(ng-show='isRegistered()') E-Mail: {{ $storage.email }}
		li(ng-show='isRegistered()') Gracenote User ID: {{ $storage.gracenoteUserId }}
	button(ng-click='reset()') Reset

