div(ng-controller='mainController')
	audio(media-player='audio1', playlist='playlist', preload='auto')

	fieldset.by-gracenote
		legend Step 1: Gracenote account settings
		ul
			button(ng-hide='isRegistered()', ng-click='createUser()') Register a Gracenote user
			div(ng-show='isRegistered()')
				b Gracenote User ID:&nbsp;
				span {{ $storage.gracenoteUserId }}&nbsp;
				button(ng-click='reset()') Reset

	fieldset.artistChooserWrap(ng-show='isRegistered()')
		legend Step 2: Select an artist
		.center

			fieldset.artistChooser.by-7digital
				legend Artist Search
				div
					label
						| Search artist:&nbsp;
						input(type='text', ng-model='artistQuery', ng-enter='searchArtist()')
						| &nbsp;
					button(ng-click='searchArtist()') Search
					ul
						li(ng-repeat='artist in searchArtists')
							a(href='#', ng-click='selectArtist(artist)') {{ artist.name }}

			fieldset.artistChooser.by-7digital
				legend Similar Artists&nbsp;
					span(ng-show='artist') to {{ artist.name }}
				div(ng-hide='isArtistSelected()') Search or select an artist first
				div(ng-show='isArtistSelected() && !similarArtists.length') Similar artists not found
				ul
					li(ng-repeat='similarArtist in similarArtists')
						a(href='#', ng-click='selectArtist(similarArtist)') {{ similarArtist.name }}

			fieldset.artistChooser.by-7digital
				legend Top Artists
				ul
					li(ng-repeat='topArtist in topArtists')
						a(ng-href='#', ng-click='selectArtist(topArtist)')
							| {{ topArtist.position }}. {{ topArtist.name }}

	fieldset.by-gracenote(ng-show='isArtistSelected()')
		legend Step 3: Create a Personal radio
		div Selected artist: {{ artist.name }}&nbsp;
			button(ng-click='resetArtist()') Clear artist
			button(ng-click='createRadio()') Create radio

	fieldset.radioPlayer(ng-show='isRadioCreated()')
		legend Step 4: Play Radio
		.center

			fieldset.playlist.by-gracenote(ng-show='isRadioCreated()')
				legend Playlist
				ul.truncate(ng-show='hasRadioTracks()')
					li(ng-repeat='radioTrack in radio.tracks')
						button(ng-click='stream(radioTrack.id)') Play
						| &nbsp;{{ radioTrack.artist }} - {{ radioTrack.title }} | {{ radioTrack.album }}
				div(ng-hide='hasRadioTracks()') No tracks found for radio.

			fieldset.audioPlayer.by-7digital(ng-show='hasRadioTracks()')
				legend Player
				button(ng-click='audio1.prev()', ng-disabled='!audio1.tracks') << Prev
				button(ng-click='audio1.play()', ng-disabled='!audio1.tracks') Play >
				button(ng-click='audio1.playPause()', ng-disabled='!audio1.tracks')	{{ audio1.playing ? "Pause ||" : "Play >" }}
				button(ng-click='audio1.next()', ng-disabled='!audio1.tracks') Next >>
				ul
					li
						// Thanks to http://css-tricks.com/html5-progress-element/
						progress(min='0', max='100', value='{{ audio1.currentTime * 100 / audio1.duration }}',
							ng-click='audio1.seek(audio1.duration * seekPercentage($event))',
							style='appearance: none; -webkit-appearance: none; -moz-appearance: none;')
							span(ng-show='audio1.formatTime') {{ audio1.formatTime }} / {{ audio1.formatDuration }}
					li Track {{ audio1.currentTrack }} of {{ audio1.tracks }} @ {{ audio1.formatTime }} / {{ audio1.formatDuration }}
					li Volume: {{ audio1.volume * 100 | number: 0 }}%
						button(ng-click='audio1.setVolume(audio1.volume - 0.1)', ng-disabled='audio1.volume - 0.1 < 0') Vol -
						button(ng-click='audio1.setVolume(audio1.volume + 0.1)', ng-disabled='audio1.volume + 0.1 > 1') Vol +
					pre.
						(DEBUG INFO)
						audio1 = {
							network: {{ audio1.network || 'n/a' }}
							playing: {{ audio1.playing }}
							ended: {{ audio1.ended }}
							currentTrack: {{ audio1.currentTrack }}
							tracks: {{ audio1.tracks }}
							volume: {{ audio1.volume }}
							formatDuration: {{ audio1.formatDuration }}
							duration: {{ audio1.duration || 0}}s
							formatTime: {{ audio1.formatTime }}
							currentTime: {{ audio1.currentTime || 0 }}s
							loadPercent: {{ audio1.loadPercent || 0 }}%
						}

	fieldset.by-7digital(ng-show='playlist')
		legend (DEBUG INFO) Audio player's playlist
		ul.truncate
			li(ng-repeat='playlistItem in playlist')
				span(ng-show='audio1.currentTrack - 1 == $index')
					b [Playing]&nbsp;
				| File: {{ playlistItem.src }}
				| Type: {{ playlistItem.type }}

	fieldset.by-7digital(ng-show='isStreaming()')
		legend (DEBUG INFO) Streaming info
		ul.truncate
			li {{ streaming.hqFormat }}: {{ streaming.hqUrl }}
			li {{ streaming.lqFormat }}: {{ streaming.lqUrl }}

	//fieldset.by-7digital(ng-show='isArtistSelected()')
	//	legend Artist's Top Tracks (optional)
	//	ul
	//		li(ng-repeat='track in topTracks')
	//			ul
	//				li {{ track.artist }} - {{ track.title }}
	//				li {{ track.year }} - {{ track.album }}

	//fieldset.by-gracenote(ng-show='isArtistSelected()')
	//	legend Recommended Tracks
	//	ul
	//		li(ng-repeat='recommendedTrack in recommendation.tracks')
	//			ul
	//				li {{ recommendedTrack.artist }} - {{ recommendedTrack.title }}
	//				li {{ recommendedTrack.album }}

	//fieldset.by-gracenote(ng-show='isRegistered()')
	//	legend Options
	//	ul
	//		li
	//			label Mood:
	//				select(ng-model='mood', ng-options='mood.value for mood in moods')
	//					//option(value='') -- choose mood --
	//		li
	//			label Era:
	//				select(ng-model='era', ng-options='era.value for era in eras')
	//					//option(value='') -- choose era --
	//		li
	//			label Genre:
	//				select(ng-model='genre', ng-options='genre.value for genre in genres')
	//					//option(value='') -- choose genre --
