div(ng-controller='mainController')
	audio(media-player='audio1', playlist='playlist', preload='auto')
	button(ng-click='reset()') Reset
	fieldset
		legend Account settings
		ul
			li(ng-hide='isRegistered()')
				label
					| E-Mail:
					input(type='text', ng-model='$storage.email')
				button(ng-click='createUser()') Create User
			li(ng-show='isRegistered()') E-Mail: {{ $storage.email }}
			li(ng-show='isRegistered()') Gracenote User ID: {{ $storage.gracenoteUserId }}
	fieldset(ng-show='isRegistered()')
		legend Artist
		ul
			li(ng-hide='isArtistSelected()')
				label
					| Artist:
					input(type='text', ng-model='artistQuery')
				button(ng-click='searchArtist()') Search
				ul
					li(ng-repeat='artist in artists')
						a(href='#', ng-click='selectArtist(artist)') {{ artist.name }}
			li(ng-show='isArtistSelected()') Artist: {{ artist.name }}
	fieldset(ng-show='isArtistSelected()')
		legend Similar Artists
		ul
			li(ng-repeat='similarArtist in similarArtists')
				a(href='#', ng-click='selectArtist(similarArtist)') {{ similarArtist.name }}
	fieldset(ng-show='isRegistered()')
		legend Top Artists
		ul
			li(ng-repeat='topArtist in topArtists')
				a(ng-href='#', ng-click='selectArtist(topArtist)')
					| {{ topArtist.position }}. {{ topArtist.name }} ({{ topArtist.change }})
	fieldset(ng-show='isRegistered()')
		legend Options
		ul
			li
				label Mood:
					select(ng-model='mood', ng-options='mood.value for mood in moods')
						option(value='') -- choose mood --
			li
				label Era:
					select(ng-model='era', ng-options='era.value for era in eras')
						option(value='') -- choose era --
			li
				label Genre:
					select(ng-model='genre', ng-options='genre.value for genre in genres')
						option(value='') -- choose genre --
	fieldset(ng-show='isArtistSelected()')
		legend Radio
		ul
			li(ng-hide='isRadioCreated()')
				button(ng-click='createRadio()') Create
			li(ng-show='isRadioCreated()', ng-repeat='radioTrack in radio.tracks')
				ul
					li {{ radioTrack.artist }} - {{ radioTrack.title }}
					li {{ radioTrack.album }}
					li
						button(ng-click='stream(radioTrack.id)') Play
	fieldset(ng-show='isArtistSelected()')
		legend Recommended Tracks
		ul
			li(ng-repeat='recommendedTrack in recommendation.tracks')
				ul
					li {{ recommendedTrack.artist }} - {{ recommendedTrack.title }}
					li {{ recommendedTrack.album }}
	fieldset(ng-show='isStreaming()')
		legend Streaming info
		ul
			li {{ streaming.hqFormat }}: {{ streaming.hqUrl }}
			li {{ streaming.lqFormat }}: {{ streaming.lqUrl }}
	fieldset
		legend Player
		button(ng-click='audio1.prev()') << Prev
		button(ng-click='audio1.play()') Play >
		button(ng-click='audio1.playPause()')	{{ audio1.playing ? "Pause ||" : "Play >" }}
		button(ng-click='audio1.next()') Next >>
		ul
			li currentTrack index: {{ audio1.currentTrack }} of {{ audio1.tracks }} @ {{ audio1.formatTime }}
			li volume: {{ audio1.volume * 100 | number: 0 }}%
				button(ng-click='audio1.setVolume(audio1.volume - 0.1)', ng-disabled='audio1.volume - 0.1 < 0') Vol -
				button(ng-click='audio1.setVolume(audio1.volume + 0.1)', ng-disabled='audio1.volume + 0.1 > 1') Vol +
			li
				progress(min='0', max='100', value='{{ audio1.currentTime * 100 / audio1.duration }}',
					ng-click='audio1.seek(audio1.duration * seekPercentage($event))',
					style='appearance: none; -webkit-appearance: none; -moz-appearance: none;')
					span(ng-show='audio1.formatTime') {{ audio1.formatTime }} / {{ audio1.formatDuration }}
			pre.
				audio1 = {
					playing: {{ audio1.playing }}
					currentTrack: {{ audio1.currentTrack }}
					tracks: {{ audio1.tracks }}
					volume: {{ audio1.volume }}
					formatDuration: {{ audio1.formatDuration }}
					duration: {{ audio1.duration }}
					currentTime: {{ audio1.currentTime }}
					formatTime: {{ audio1.formatTime }}
					loadPercent: {{ audio1.loadPercent }}
				}
	fieldset
		legend Playlist
		ul
			li(ng-repeat='playlistItem in playlist')
				span(ng-show='audio1.currentTrack - 1 == $index')
					b [Playing]&nbsp;
				| File: {{ playlistItem.src }}
				| Type: {{ playlistItem.type }}

	//fieldset(ng-show='isArtistSelected()')
	//	legend Artist's Top Tracks (optional)
	//	ul
	//		li(ng-repeat='track in topTracks')
	//			ul
	//				li {{ track.artist }} - {{ track.title }}
	//				li {{ track.year }} - {{ track.album }}
