div(ng-controller='mainController')
	audio(media-player='audio1', playlist='playlist', preload='auto')

	fieldset.by-gracenote
		legend Account settings
		ul
			button(ng-hide='isRegistered()', ng-click='createUser()') Register a Gracenote user
			div(ng-show='isRegistered()')
				b Gracenote User ID:&nbsp;
				span {{ $storage.gracenoteUserId }}&nbsp;
				button(ng-click='reset()') Reset

	fieldset(ng-show='isRegistered()')
		legend Artist
		div.by-7digital(ng-hide='isArtistSelected()')
			label
				| Search artist:&nbsp;
				input(type='text', ng-model='artistQuery')
				| &nbsp;
			button(ng-click='searchArtist()') Search
			ul
				li(ng-repeat='artist in artists')
					a(href='#', ng-click='selectArtist(artist)') {{ artist.name }}
		div(ng-show='isArtistSelected()') Artist: {{ artist.name }}

	fieldset.by-7digital(ng-show='isArtistSelected()')
		legend Similar Artists
		ul
			li(ng-repeat='similarArtist in similarArtists')
				a(href='#', ng-click='selectArtist(similarArtist)') {{ similarArtist.name }}

	fieldset.by-7digital(ng-show='isRegistered()')
		legend Top Artists
		ul
			li(ng-repeat='topArtist in topArtists')
				a(ng-href='#', ng-click='selectArtist(topArtist)')
					| {{ topArtist.position }}. {{ topArtist.name }}

	fieldset.by-gracenote(ng-show='isArtistSelected()')
		legend Radio
		button(ng-hide='isRadioCreated()', ng-click='createRadio()') Create
		ul
			li(ng-show='isRadioCreated()', ng-repeat='radioTrack in radio.tracks')
				button(ng-click='stream(radioTrack.id)') Play
				| &nbsp;{{ radioTrack.artist }} - {{ radioTrack.title }} | {{ radioTrack.album }}

	fieldset.by-7digital(ng-show='isRadioCreated()')
		legend Player
		button(ng-click='audio1.prev()') << Prev
		button(ng-click='audio1.play()') Play >
		button(ng-click='audio1.playPause()')	{{ audio1.playing ? "Pause ||" : "Play >" }}
		button(ng-click='audio1.next()') Next >>
		ul
			li currentTrack index: {{ audio1.currentTrack }} of {{ audio1.tracks }} @ {{ audio1.formatTime }}
			li volume: {{ audio1.volume * 100 | number: 0 }}%
				button(ng-click='audio1.setVolume(audio1.volume - 0.1)', ng-disabled='audio1.volume - 0.1 < 0') Vol -
				button(ng-click='audio1.setVolume(audio1.volume + 0.1)', ng-disabled='audio1.volume + 0.1 > 1') Vol +
			li
				// Thanks to http://css-tricks.com/html5-progress-element/
				progress(min='0', max='100', value='{{ audio1.currentTime * 100 / audio1.duration }}',
					ng-click='audio1.seek(audio1.duration * seekPercentage($event))',
					style='appearance: none; -webkit-appearance: none; -moz-appearance: none;')
					span(ng-show='audio1.formatTime') {{ audio1.formatTime }} / {{ audio1.formatDuration }}
			pre.
				DEBUG INFO
				audio1 = {
					network: {{ audio1.network }}
					playing: {{ audio1.playing }}
					ended: {{ audio1.ended }}
					currentTrack: {{ audio1.currentTrack }}
					tracks: {{ audio1.tracks }}
					volume: {{ audio1.volume }}
					formatDuration: {{ audio1.formatDuration }}
					duration: {{ audio1.duration }}s
					formatTime: {{ audio1.formatTime }}
					currentTime: {{ audio1.currentTime }}s
					loadPercent: {{ audio1.loadPercent }}%
					played: {{ audio1.played }}
					buffered: {{ audio1.buffered }}
					seekable: {{ audio1.seekable }}
				}

	fieldset.by-gracenote(ng-show='playlist')
		legend Playlist
		ul
			li(ng-repeat='playlistItem in playlist')
				span(ng-show='audio1.currentTrack - 1 == $index')
					b [Playing]&nbsp;
				| File: {{ playlistItem.src }}
				| Type: {{ playlistItem.type }}

	fieldset.by-7digital(ng-show='isStreaming()')
		legend Streaming info
		ul
			li {{ streaming.hqFormat }}: {{ streaming.hqUrl }}
			li {{ streaming.lqFormat }}: {{ streaming.lqUrl }}


	//fieldset.by-7digital(ng-show='isArtistSelected()')
	//	legend Artist's Top Tracks (optional)
	//	ul
	//		li(ng-repeat='track in topTracks')
	//			ul
	//				li {{ track.artist }} - {{ track.title }}
	//				li {{ track.year }} - {{ track.album }}

	//fieldset.by-gracenote(ng-show='isArtistSelected()')
	//	legend Recommended Tracks
	//	ul
	//		li(ng-repeat='recommendedTrack in recommendation.tracks')
	//			ul
	//				li {{ recommendedTrack.artist }} - {{ recommendedTrack.title }}
	//				li {{ recommendedTrack.album }}

	//fieldset.by-gracenote(ng-show='isRegistered()')
	//	legend Options
	//	ul
	//		li
	//			label Mood:
	//				select(ng-model='mood', ng-options='mood.value for mood in moods')
	//					//option(value='') -- choose mood --
	//		li
	//			label Era:
	//				select(ng-model='era', ng-options='era.value for era in eras')
	//					//option(value='') -- choose era --
	//		li
	//			label Genre:
	//				select(ng-model='genre', ng-options='genre.value for genre in genres')
	//					//option(value='') -- choose genre --
