doctype html
html(lang='en', ng-app='7gRadio')
	head
		title (7digital + Gracenote) Radio
		meta(charset='utf-8')
		link(rel='stylesheet', href='/css/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js')
		script(src='/bower_components/ngstorage/ngStorage.js')
		script(src='/js/gracenote.js')
		script(src='/js/app.js')
	body(ng-controller='mainController')
		div(ng-view)
