doctype html
html(lang='en', ng-app='7gRadio')
	head
		title (7digital + Gracenote) Radio
		meta(charset='utf-8')
		base(href='/')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		// script(src='socket.io/socket.io.js')
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/angular-route/angular-route.js')
		script(src='bower_components/angular-resource/angular-resource.js')
		script(src='bower_components/ngstorage/ngStorage.js')
		// script(src='bower_components/angular-socket-io/socket.js')
		script(src='bower_components/angular-media-player/dist/angular-media-player.js')
		script(src='js/init.js')
		script(src='js/services.js')
		script(src='js/controllers.js')
