
.by-7digital
	background-image: url('../imgs/7digital.gif')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px


.by-gracenote
	background-image: url('../imgs/gracenote.png')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px
