body
	min-width: 850px

ul
	padding: 0
	margin: 0
	list-style-type: none

.center
	text-align: center

.by-7digital
	background-image: url('../imgs/7digital.gif')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px

.by-gracenote
	background-image: url('../imgs/gracenote.png')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px

.artistChooserWrap

	.artistChooser
		text-align: left
		vertical-align: top
		width: 29%
		display: inline-block

.radioPlayer

	fieldset
		text-align: left
		vertical-align: top
		display: inline-block

	.playlist
		width: 50%

	.audioPlayer
		width: 35%

