body
	min-width: 850px;

.center
	text-align: center;
	width: 100%;

.by-7digital
	background-image: url('../imgs/7digital.gif')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px

.by-gracenote
	background-image: url('../imgs/gracenote.png')
	background-position: right top
	background-repeat: no-repeat
	min-height: 36px

.artistChooserWrap

	.artistChooser
		text-align: left
		vertical-align: top
		width: 29%
		display: inline-block
		height: 100%
